@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff6b35;
  --secondary-color: #f9c74f;
  --text-color: #333;
  --background-color: #fff;
  --gradient-start: #ff9a8b;
  --gradient-end: #ff6a88;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffdfb;
}

.container {
  /* max-width: 85%; */
  margin: 0 auto;
  padding: 0 1rem;
}

.gradient-text {
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-bg {
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
}

@font-face {
  font-family: 'TobiasTRIAL';
  src: url('/font/TobiasTRIAL-Regular-BF6719af6e0eca4.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-TobiasTRIAL {
  color: #1A130E;
  font-family: 'TobiasTRIAL', 'Times New Roman', serif !important;
}

.el-main {
  --el-main-padding: 0;    /* reset their CSS variable */
  padding: 0 !important; /* force it to zero */
  }  
.font-PPTelegraf {
  font-family: 'PPTelegraf', sans-serif;
}