@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff6b35;
  --secondary-color: #f9c74f;
  --text-color: #333;
  --background-color: #fff;
  --gradient-start: #ff9a8b;
  --gradient-end: #ff6a88;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffdfb;
}

.container {
  /* max-width: 85%; */
  margin: 0 auto;
  padding: 0 1rem;
}

.gradient-text {
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-bg {
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
}

@font-face {
  font-family: 'TobiasTRIAL';
  src: url('/font/TobiasTRIAL-Regular-BF6719af6e0eca4.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-TobiasTRIAL {
  color: #1A130E;
  font-family: 'TobiasTRIAL', 'Times New Roman', serif !important;
}

.el-main {
  --el-main-padding: 0;    /* reset their CSS variable */
  padding: 0 !important; /* force it to zero */
  }  
.font-PPTelegraf {
  font-family: 'PPTelegraf', sans-serif;
}

.font-bold{
  font-size: 400;
}

.z-666{
  position: relative;
  z-index: 666;
}

.btnBlank{
  width:320px;
  height:66px;
  padding:0 20px;
  font-size: 20px;
  line-height:66px;
  border-radius: 12px;
  background: #1A130E;
  margin:0 auto;
  font-weight: 600;
  font-family: "Tobias TRIAL";
}

.mt-64{
  margin-top:64px;
}

.mb-72{
  margin-bottom:72px;
}

.mt-300{
  margin-top:300px
}

.mb-48{
  margin-bottom:48px;
}
.mt-207{
  margin-top:207px
}

.mt-15{
  margin-top:15px;
}

.ml-15{
  margin-left:15px;
}

.faqDiv ul{
  padding-left:20px;
}
.faqDiv ul li::before {
  content: "•";
  color: #333;
  margin-right: 8px;
  position: relative;
  top:-2px;
}